@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;900&display=swap');

.offlineBadgeContainer {
  position: absolute;
  top: 20px;
  right: calc(50% - 400px / 2);
  z-index: 90;
  width: 400px;
  height: 70px;
  background-color: black;
  border-radius: 100px;
  border: 1.5px solid #a8a8a881;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 20px;
  gap: 20px;
  font-family: 'Public Sans', sans-serif;
}

.offlineBadgeContainer > svg {
  transform: scaleX(-1);
  color: #e7e4e4;
  padding-top: 2.5px;
}

.offlineBadgeText {
  display: flex;
  flex-direction: column;
  color: #e7e4e4;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.offlineBadgeTitle {
  font-size: 14px;
  font-weight: 600;
  color: #e7e4e4;
}

.offlineBadgeSubtitle {
  font-size: 12px;
  font-weight: 400;
  color: #e7e4e4c1;
}

.offlineBadgeButton {
  color: rgb(0, 154, 3);
  background: unset;
  border: unset;
  font-weight: 500;
  font-size: 14px;
}
